
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}
#crypto-container {
   
#crypto-container {
    margin-top: 20px;
    padding: 15px;
    background-color: #007bff; 
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    display: inline-block;
    text-align: left;
    border-radius: 8px; 
}

}
.crypto-item {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}


button {
    border: 2px solid blue; 
    background-color: white; 
    padding: 10px 20px; 
    border-radius: 5px; 
    font-size: 16px; 
    cursor: pointer; 
}

button:hover {
    background-color: lightblue; 
}
